fastapi
uvicorn
sqlalchemy
passlib
python-jose
python-multipart
email-validator
pydantic[dotenv,email]
gunicorn
asyncpg
greenlet==2.0.0a1
bcrypt
arq

aiosmtplib
python-dotenv

pyhumps
uvloop
pytest
pytest-asyncio
pytest-cov
mypy
httpx
asgi-lifespan

alembic